

// SUB FOOTER // --------------------------------------------------


.sub-footer {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 100px 0;
	background: #1d1d1d;
	color: white;
	.left, .right { position: relative; padding: 0; }
	img { vertical-align: bottom; }
}

.logos {
	opacity: .2;
	@include ease(.2s);
	margin: 0 20px;
	max-width: 120px;
	@include breakpoint(xm) {
		margin: 20px 0;
		width: 100%;
	}
}
.logos:hover {
	opacity: .4;
}


// FOOTER // --------------------------------------------------


.main-footer {
	@include block;
	width: 100%;
	background: #111;
	padding: 100px 0;
	color: white;
}


.footer-top {
	text-align: center;
	position: relative;
	display: block;
	padding: 100px 0;
	span { margin: 0 10px; opacity: .2;}
}


// footer-cube 
.cube-footer {
	position: absolute;
	top: 0%;
	left: 50%;
	div {
	  box-shadow: inset 0px 0px 0px 1px white;
	}
}




.footer-bottom {
	text-align: center;
	li {
		display: inline-block;
		width: 49%;
		line-height: 28px;
		height: 28px;
		vertical-align: top;
	}
	a { display: block; opacity: .5; @include ease(.2s); 
		line-height: 28px;
		height: 28px;
	} 
	a:hover { opacity: 1; color: white; }

}




.copyright {
	@include block;
	background: black;
	color: #666;
	padding: 10px 0;
	font-size: 10px;
	text-align: center;
	a { color: #888; }
}







// OVERLAYS AND MODALS // --------------------------------------------------



.overlay {
	position: fixed;
	width: 100%; height: 100%;
	background: white;
	left: 0; right: 0; bottom: 0; top: 0;
	z-index: 9999;
}