


// HEADER // --------------------------------------------------

.main-header {
	@include ease(.6s);
}




.logo {
	@include ease(1s);
	width: 300px;
	text-align: center;
	display: block;
	z-index: 99;
	position: absolute;
	top: -200px;
	margin-left: -150px;
	left: 50%;
	padding: 18px 0;
	@include breakpoint(xm) {
		text-align: center;
		padding: 13px 0;
	}
	.brand-txt {
		color: white;
		font-size: 40px;
		padding: 0px;
		margin: 0;
		font-weight: 100;
		font-family: 'Futura Std';
		@include breakpoint(xm) {
			font-size: 32px;
		}
	}
}
body.scrolled .logo {
	position: fixed;
	.brand-txt { color: black; } 
}

// .site-titles2 {
// 	@include ease(1s);
// 	width: 300px;
// 	text-align: center;
// 	display: block;
// 	z-index: 999;
// 	position: absolute;
// 	top: -200px;
// 	margin-left: -150px;
// 	left: 50%;
// 	padding: 18px 0;
// 	.brand-txt, .tagline {
// 		color: white;
// 	}
// 	.brand-txt {
// 		color: white;
// 		font-size: 40px;
// 		padding: 0px;
// 		margin: 0;
// 		font-weight: 100;
// 		font-family: 'Futura Std';
// 	}
// 	@include breakpoint(xm) {
// 		display: none;
// 	}
// }

body.ready .logo    {
	top: 0;
}

#time-wrap {
	@include ease(2s);
	position: absolute;
	right: -2000px; top: 0;
	z-index: 999;
	@include breakpoint(xm) {
		display: none;
	}
}
#time {
	padding: 38px 30px;
	font-size: 10px;
	font-family: 'Futura Std';
	color: white;
}
body.ready #time-wrap {
	right: 0;
}
body.scrolled #time-wrap {
	position: fixed;
	z-index: 99;
}
body.scrolled #time {
	color: black;
}



.branding {
	position: relative;
	display: block;
	z-index: 999;
}

.cube-menu {
	position: absolute;
	bottom: 10%;
	left: 50%;
	div {
	  box-shadow: inset 0px 0px 0px 1px white;
	}
}

.cube-home {
	position: absolute;
	top: -80px;
	left: 50%;
	opacity: .3;
	div {
	  box-shadow: inset 0px 0px 0px 1px white;
	}
	&.slidein {
		top: 95px;
	}
	@include breakpoint(xm) {
  	&.slidein {
			top: 80px;
		}
  }
}
.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 3s infinite ease-out;
  //position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cube div {
   width: 40px;
   height: 40px;
   line-height: 100px;
   text-align: center;
   box-shadow: inset 0px 0px 0px 1px rgba(225,225,225,1);
   display: block;
   position: absolute;
}

.cube div.top {
   -webkit-transform: rotateX(90deg); 
  margin-top: -20px;
}

.cube div.right {
   -webkit-transform: rotateY(90deg); 
  margin-left: 20px;
}

.cube div.bottom {
   -webkit-transform: rotateX(-90deg); 
  margin-top: 20px;
}

.cube div.left {
   -webkit-transform: rotateY(-90deg); 
  margin-left: -20px;
}

.cube div.front {
   -webkit-transform: translateZ(20px);
}

.cube div.back {
   -webkit-transform: translateZ(-20px) rotateX(180deg);
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotateX(-20deg) rotateY(20deg); margin-top: 0; }
  33% { margin-top: 20px; }
  66% { margin-top: -5px; }
  100% {-webkit-transform: rotateX(-20deg) rotateY(740deg); margin-top: 0;}
}


//  bar animation audio
.play-pause {
	@include ease(.4s);
	position: absolute;
	float: left;
	width: 120px;
	bottom: 110px;
	left: 30px;
	opacity: .4;
	@include breakpoint(xm) {
		left: 15px;
	}
	&:hover { opacity: 1; cursor: pointer; }
	.noaudio {
		@include ease(.2s);
		position: absolute;
		width: 20px;
		height: 20px;
		left: 0px; bottom: 10px;
		opacity: 0;
	}
	&.off {
		.noaudio {
			opacity: 1;
		}
		.bar {
			max-height: 3px !important; overflow: hidden;
		}
	}	
}

#bars {
    height: 30px;
    float: left;
    left: 35px;
}
.bar {
   background: #eee;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -1000ms linear infinite alternate;
}
@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }


.type-wrap {
	font-size: 18px;
	font-weight: 100;
	font-family: 'Futura Std';
	letter-spacing: 1px;
	margin-top: 2.5px;
	text-transform: uppercase;
  position: fixed;
  z-index: 99;
  color: white;
  @include ease(2s);
  left: -2000px;
  @include breakpoint(xm) {
  	position: absolute;
  	bottom: 190px;
  	width: 100%;
  	text-align: center;
  	left: 0 !important;
  	margin: 0; padding: 0;
  	opacity: .5;
  }
	#type {
		float: left;
		@include breakpoint(xm) {
			float: none;
		}
	}
	.typed-cursor {
		float: left;
		margin-top: -2px;
		@include breakpoint(xm) {
			display: none;
		}
	}
}
body.scrolled #type { color: black; }
body.scrolled .typed-cursor { color: black; }
body.ready .type-wrap { 
	left: 90px; 
	@include breakpoint(xm) {
		left: 15px;
	}
}


.folding-bar-1	{ 
	/* overall animation container */
	margin-top: -80px;
	position: absolute;
	display: block;
  width: 100%;
  @include ease(1s);
  bottom: 0;
  left: 0;

	height: 80px; 
	overflow: hidden;

	transform: rotateX(0deg);
	transform-origin: bottom; 
}
.folding-bar-2 {

}
.folding-bar-3 {

	@include ease(1s);
  background: white;
  border-bottom: 1px solid #eee;
  color: black;
  line-height: 80px;
  height: 80px;
  text-align: center;
  font-family: 'ChaletBookBold';
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;

	transform: rotateX(0deg);
	transform-origin: bottom; 

	@include breakpoint(xm) {
		span { display: none; }
	}
}
body.scrolled .folding-bar-1 {
	height: 0;
	transform: rotateX(-90deg);
	@include breakpoint(xm) {
		height: 80px;
		transform: rotateX(0deg);
	}
}
body.scrolled .folding-bar-3 {
	height: 0;
	transform: rotateX(-90deg);
	@include breakpoint(xm) {
		height: 80px;
		transform: rotateX(0deg);
	}
}




#mouse-icon{
	width:21px; height:35px;
	display:block;
	margin:-20px 0 0 -10px;
	border:2px solid #fff;
	position:absolute;
	z-index:9;
	opacity: 0;
	bottom: -420px; left:50%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	@include ease(.9s);
}
body.ready #mouse-icon {
	bottom: 120px;
	opacity: .6;
}
body.scrolled #mouse-icon {
	bottom: 160px;
	opacity: 0;
}
#mouse-icon::before{
	content:'SCROLL';
	width:60px;
	display:block;
	    margin-left: -28px;
	position:absolute;
	left:50%;
	text-align:center;
	font-family: 'ChaletBookBold';
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
	color:#fff;
	opacity:0;
	-webkit-transform: scaleX(0);
 	-moz-transform: scaleX(0);
 	-o-transform: scaleX(0);
 	transform: scaleX(0);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#mouse-icon:hover{
	opacity:1;
  cursor:pointer;
}

#mouse-icon:hover:before{
	margin-top:-30px;
	opacity:1;
	-webkit-transform: scaleX(1);
 	-moz-transform: scaleX(1);
 	-o-transform: scaleX(1);
 	transform: scaleX(1);
}

#scroll-wheel{
  	width:5px;
  	height:6px;
  	display:block;
  	position:absolute;
  	top:5px;
  	left:6px;
  	background:#fff;
  	-webkit-border-radius:3px;
  	-moz-border-radius:3px;
  	-o-border-radius:3px;
  	border-radius:3px;
  	-webkit-animation: scrollWheel 1s linear infinite;
	-moz-animation: scrollWheel1s linear infinite;
	-o-animation: scrollWheel 1s linear infinite;
	animation: scrollWheel 1s linear infinite;
}

@-webkit-keyframes scrollWheel {
	0%   { top:5px; opacity:1; }
	100% { top:20px; opacity:0; }
}

@-moz-keyframes scrollWheel {
	0%   { top:5px; opacity:1; }
	100% { top:20px; opacity:0; }
}

@-o-keyframes scrollWheel {
	0%   { top:5px; opacity:1; }
	100% { top:20px; opacity:0; }
}






// Navigation// --------------------------------------------------

.menu-pullout-btn {
	@include ease(2s);
	display: block;
	z-index: 999;
	position: absolute;
	top: 4px;
	left: -2000px;
	padding: 28px 30px;
	@include breakpoint(xm) {
		padding: 20px 15px;
	}
	&:hover { cursor:pointer;}
	&:hover .navigate-txt { opacity: 1; }
	&:hover .btn-bar { width: 45px; }
	&.black-btn {
		position: fixed;
		z-index: 99;
		.btn-bar { 
			border: 1px solid #000;
		}
	}
}
body.ready .menu-pullout-btn {
	left: 0;
}
.btn-bar {
	@include ease(.2s);
	position: relative;
	width: 35px;
	border: 1px solid white;
	margin-bottom: 8px;
	@include breakpoint(xm) {
		width: 25px;
		margin-bottom: 6px;
	}
}
.navigate-txt {
	font-family: monospace; color: white; 
	margin-top: -20px; font-size: 10px; padding-bottom: 10px; opacity: .6;
	&:hover { opacity: 1; }
}


.menu-pullout {
	@include ease(.4s);
	display: block;
	width: 400px;
	left: -400px;
	position: fixed;
	height: 100%;
	background: #111;
	z-index: 99999;
	padding: 60px 0;
	@include breakpoint(xm) {
		width: 100vw;
		left: -100vw;
	}
}
body.menu-pullout-active .menu-pullout {
	left: 0;
}

.menu-pullout-overlay {
	@include ease(.6s);
	position: fixed;
	width: 100%; height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,.8);
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	&:hover { cursor: pointer; }
}
body.menu-pullout-active .menu-pullout-overlay {
	visibility: visible;
	opacity: 1;
}


.menu-close-btn {
	display: block;
	position: absolute;
	left: 0;
	top: 25px;
	padding: 30px;
  width: 40px;
  height: 40px;
  z-index: 9999;
} 
.menu-close-btn:before, .menu-close-btn:after {
  content:'';
  position:absolute;
  width:36px;
  height:1px;
  background-color: white;
  top:16px;
}

.menu-close-btn:before {
	@include ease(.8s);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    //left:2px;
}
.menu-close-btn:after {
	@include ease(.8s);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    //right:2px;
}

body.menu-pullout-active .menu-close-btn:before {
	-webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
body.menu-pullout-active .menu-close-btn:after  {
	-webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}







.primary-nav {
	width: 100%;
	text-align: center;
	.nav-wrap {
		text-align: center;
	}
	ul {
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}
	ul > li {
		position: relative;
		//@include ease(.2s);
		display: block;
		vertical-align: top;
		//margin: 0 15px;
		line-height: 60px;
		height: 60px;
		&.current-menu-item a {
			color: $accent1;
		}
		&:hover {
			a { color: $accent1; }
		}
		&:hover ul.sub-menu {
			max-height: 400px;
		}
		a {
			font-family: 'Futura Std', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  		font-weight: 400;
  		letter-spacing: 2px;
			color: white;
			display: block;
			width: 100%; height: 100%;
			font-size: 12px;
			text-transform: uppercase;
		}
		&:hover a {
			color: #6ed8ce;
		}

	}
	.booking-btn {
		margin: 12px 0;
	}
}





// mobile menu stuff
// a.nav-open {
// 	display: none;
// 	@include breakpoint(xs) {
// 		display: block;
// 	}
// 	@include ease(.4s);
// 	width: 100%;
//   background-color: #eee;
//   height: 60px;
//   line-height: 60px;
//   font-size: 16px;
//   background: $accent1;
//   color: white;
//   text-transform: uppercase;
//   position: absolute;
// 	bottom: -1px;
//   span { margin-left: 10px;}
// }

// .mobile-menu {
// 	// show hide
// 	display: none;
// 	@include breakpoint(xs) {
// 		display: block;
// 	}
// 	@include ease(.6s);
// 	padding: 40px 0;
// 	position: fixed;
// 	width: 100%; height: 100%;
// 	background: white;
// 	top: -100%; left: 0; right: 0; bottom: 0;
// 	//overflow-y: scroll;
// 	a.nav-close {
// 		position: absolute;
// 		padding: 20px;
// 		font-size: 18px;
// 		right: 0; top: 0;
// 	}
// 	ul {
// 		padding: 0;
// 	}
// 	li {
// 		font-size: 14px;
// 		line-height: 24px;
// 		text-transform: uppercase;
// 		ul.sub-menu  { margin-top: 10px; margin-bottom: 10px; }
// 		ul.sub-menu li a { color: $accent1; }
// 	}
// 	&.active {
// 		top: 0;
// 	}
// }








// BANNER // --------------------------------------------------


.greenland-video {
	@include block;
	width: 100%;
	height: auto;

	// videos
	video#greenland {
		width: 100%;
	}
	video#ambiance {
		visibility: hidden;
    height: 0;
    width: 0;
    position: fixed;
	}

	.video-callout {
		@include ease(1s);
		h1 { font-family: 'Helvetica Neue', Helvetica, Arial; padding-bottom: 0; margin-bottom: 0; }
		position: absolute;
		//left: 10%;
		top: 40%;
		width: 100%;
		line-height: 100%;
		font-size: 1.5em;
		font-weight: 100;
		z-index: 2;
		color: white;
		text-align: center;
		opacity: 0;
	}
}
body.ready .greenland-video .video-callout {
	top: 50%;
	opacity: 1;
}









